@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');
@CHARSET "ISO-8859-1";

html, body {
    height: 100%;
    margin: 0;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 4px green;
}
.background {
    background-image: url("golden-add-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a{	
	margin: 30px;
	padding: 10px;
	color: white;
    text-decoration: none;
	border-radius: 0 0 30px 30px;
}
a:hover{
	color: #cc0099;
	background-color: rgba(0,200,0,0.6);
	transition-duration: 0.5s;
}
header{
	background-color: rgba(255,204,0,0.7);
	position: fixed;
	width: 100%;
	height: 60px;
	font-size: 50px;
	border-radius: 0px 0px 30px 30px;
	z-index:130;
}
.homehely{
	position: fixed;
	top: 1.5%;
	left: 1%;
	z-index:130;
}
.bejelentkezhely{
	position: fixed;
	top: 1.5%;
	right: 1%;
	z-index:130;
}
.homehely a, .bejelentkezhely a{
	margin: 0;
	color:#660066;
	text-decoration: underline;
}
h1{
	position:absolute;
	top:25%;
	left: 50%;
	transform: translate(-50%,0);
}