@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');
@CHARSET "ISO-8859-1";

html, body {
    height: 100%;
    margin: 0;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 4px green;
}
.background {
    background-image: url("golden-igeny-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a{	
	margin: 30px;
	padding: 10px;
	color: white;
    text-decoration: none;
	border-radius: 0 0 30px 30px;
}
a:hover{
	color: #cc0099;
	background-color: rgba(0,200,0,0.6);
	transition-duration: 0.5s;
}
header{
	background-color: rgba(255,204,0,0.7);
	position: fixed;
	width: 100%;
	height: 60px;
	font-size: 50px;
	border-radius: 0px 0px 30px 30px;
	z-index:130;
}
.homehely{
	position: fixed;
	top: 1.5%;
	left: 1%;
	z-index:130;
}
.bejelentkezhely{
	position: fixed;
	top: 1.5%;
	right: 1%;
	z-index:130;
}
.homehely a, .bejelentkezhely a{
	margin: 0;
	color:#660066;
	text-decoration: underline;
}
h2{
	position:relative;
	top:60px;
	margin:0;
	color: rgba(255,204,0,1);
	text-shadow: 2px 2px 4px #660066;
}
label{
	display: block;
	margin: 5px 50px;
}
select, input, textarea, button{
	margin-left: 80px; 
	margin-bottom: 10px;
}
form{
	color: #444444;
	text-shadow: 3px 3px 7px rgba(255,204,0,1);
	text-align: left;
	position:relative;
	top:80px;
}
label[for^="radio"]{
	color: black;
	text-shadow: none;
	font-size: 20px;
	display: inline;
	margin-right:0px;
}