@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');
@CHARSET "ISO-8859-1";

html, body {
    height: 100%;
    margin: 0;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 4px green;
}
.background {
    background-image: url("golden-list-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a{	
	margin: 30px;
	padding: 10px;
	color: white;
    text-decoration: none;
	border-radius: 0 0 30px 30px;
}
a:hover{
	color: #cc0099;
	background-color: rgba(0,200,0,0.6);
	transition-duration: 0.5s;
}
header{
	background-color: rgba(255,204,0,0.7);
	position: fixed;
	width: 100%;
	height: 60px;
	font-size: 50px;
	border-radius: 0px 0px 30px 30px;
	z-index:130;
}
.homehely{
	position: fixed;
	top: 1.5%;
	left: 1%;
	z-index:130;
}
.bejelentkezhely{
	position: fixed;
	top: 1.5%;
	right: 1%;
	z-index:130;
}
.homehely a, .bejelentkezhely a{
	margin: 0;
	color:#660066;
	text-decoration: underline;
}
#table-overflow{
    overflow-x:auto;
	position: relative;
	top: 60px;
	z-index:30;
}
caption {
    text-shadow: 2px 2px 4px green;
    font-size: 50px;
    color:#660066;
	font-weight: normal;
}
thead{
    text-shadow: 2px 2px 4px red;
}
table {
    border-collapse: collapse;
    width: 100%;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px green;
	z-index:30;
}
th, td {
    text-align: center;
    padding: 8px;
	border-bottom: 5px solid #009900;
}
tr:nth-child(even){
    background-color: rgba(200,200,200,0.5);
    color: rgba(255,204,0,1);
	text-shadow: 2px 2px 4px red;
}
@media print{
	.homehely, .bejelentkezhely{
		display:none;
	}
	img{
		height: 50;
		width: 120;
	}
	tr:nth-child(even){
	text-shadow: none;
	}
	tr{
		text-shadow: none;
	}
}
@page :left {
        margin: 0.5cm;
}