<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Goldi-lista</title>
	<link rel="stylesheet" type="text/css" href="/css/golden-list.css" />
</head>
<body class="background">

	<header>
		Golden Farm
	</header>
	
	<div class="homehely">
    <a href="index.html">Home</a>
	</div>
	
	<div class="bejelentkezhely">
    <a href="error.html">Error</a>
	</div>

	<div id="table-overflow">
      <table>
        <caption>Goldi-lista</caption>
        <thead>
          <tr>
            <th>Goldi ID</th>
            <th>Név</th>
            <th>Kor(év)</th>
            <th>Képességek</th>
            <th>Kép</th>
            <th>Gazdi</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="golden:${goldens}">
            <td th:text="${golden.goldenId}">#1</td>
            <td th:text="${golden.name}">Sunyi</td>
            <td th:text="${golden.age}">3</td>
            <td th:text="${golden.ability}">Ül</td>
			<td th:utext="${golden.picture}"><img src="img/1.jpg" height="200" width="350"></td>
			<td th:text="${golden.owner.name}">Erzsi</td>
          </tr>
		<!--  <tr>
            <td>#2</td>
            <td>Sánta</td>
            <td>7</td>
            <td>Fekszik<br>Lábatfelemel<br>Fut</td>
			<td><img src="img/2.jpg" height="200" width="350"></td>
			<td>Ricsi</td>
          </tr>
		  <tr>
            <td>#3</td>
            <td>Haver</td>
            <td>4</td>
            <td>Pacsi</td>
			<td><img src="img/3.jpg" height="200" width="350"></td>
			<td>Zsuzsi</td>
          </tr>
		  <tr>
            <td>#4</td>
            <td>Sanyi</td>
            <td>1</td>
            <td>Labdát visszahoz</td>
			<td><img src="img/4.jpg" height="200" width="350"></td>
			<td>Jani</td>
          </tr>
		  <tr>
            <td>#5</td>
            <td>Lusti</td>
            <td>3</td>
            <td>Fekszik<br>Ugat</td>
			<td><img src="img/5.jpg" height="200" width="350"></td>
			<td>Feri</td> 
          </tr>-->
        </tbody>
      </table>
    </div>
	
	  
</body>
</html>