<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Golden Farm</title>
	<link rel="icon" href="others/golden-icon.png" />
	<link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body class="background">
<video autoplay loop muted poster="css/index-background.jpg" src="others/golden-video.mp4"></video>
	<header>
		Golden Farm
	</header>
	
	<div class="homehely">
    <a href="index.html">Home</a>
	</div>
	
	<div class="bejelentkezhely">
    <a href="error.html">Error</a>
	</div>
	
	<nav>
		<a class="link" href="golden-list.html" th:text="#{goldenList}">Goldi-lista</a>
	<!--<a class="link" href="golden-igeny.html" th:text="#{goldenNeed}">Goldi-igénylés</a>-->
	<!--	<a class="link" href="golden-add.html" th:text="#{goldenAdd}">Goldi-hozzáadás</a>-->
	</nav>
	
	<main>
        <p th:text="#{welcome}">Üdvözlünk a Golden Farm oldalán ahol:</p>
		 <ul>
			<li th:text="#{description1}">Megnézheti milyen Goldik vannak nálunk</li>
			<!--<li th:text="#{description2}">Nálunk lévő Goldik közül igényelhet egyet <br> 
				(bejelentkezés szükséges)</li>-->
		</ul> 
    </main>
	
	<footer>
		&copy; TurB<sup>TM</sup> 2018
	</footer>
	
	  
</body>
</html>